<a href="https://colab.research.google.com/github/ChrisBanh/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Optimisation attempt 4: 

#### Keep name column and apply a cutoff

### Retain Application and Cutoff parameters from initlal run



### Will keep the hidden layer parameters from optimisation attempt no. 3.

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'], axis = 1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
for col in application_df:
    print(col, application_df[col].nunique())

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
name_counts = application_df.NAME.value_counts()

In [6]:
name_counts[name_counts > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [7]:
names_to_replace = name_counts[name_counts <= 5].index

In [8]:
# Choose a cutoff value and create a list of names to be replaced

names_to_replace = name_counts[name_counts <= 5].index

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [9]:
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [10]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
5,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1,31452,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
7,1,7508025,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
8,1,94389,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
9,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
# Split our preprocessed data into our features and target arrays
y = application_dummies['IS_SUCCESSFUL'].values
X = application_dummies.drop(['IS_SUCCESSFUL'],1).values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\Christopher B\AppData\Local\Temp\ipykernel_7132\3462802986.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_dummies.drop(['IS_SUCCESSFUL'],1).values

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  20
hidden_nodes_layer2 = 15
hidden_nodes_layer3 = 10


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                7980

 dense_1 (Dense)             (None, 15)                315

 dense_2 (Dense)             (None, 10)                160

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 8466 (33.07 KB)
Trainable params: 8466 (33.07 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 747us/step - loss: 0.4889 - accuracy: 0.7665
Epoch 2/100
804/804 [==============================] - 1s 735us/step - loss: 0.4381 - accuracy: 0.7929
Epoch 3/100
804/804 [==============================] - 1s 734us/step - loss: 0.4314 - accuracy: 0.7951
Epoch 4/100
804/804 [==============================] - 1s 732us/step - loss: 0.4284 - accuracy: 0.7958
Epoch 5/100
804/804 [==============================] - 1s 733us/step - loss: 0.4265 - accuracy: 0.7959
Epoch 6/100
804/804 [==============================] - 1s 764us/step - loss: 0.4241 - accuracy: 0.7985
Epoch 7/100
804/804 [==============================] - 1s 768us/step - loss: 0.4231 - accuracy: 0.7980
Epoch 8/100
804/804 [==============================] - 1s 747us/step - loss: 0.4222 - accuracy: 0.7987
Epoch 9/100
804/804 [==============================] - 1s 730us/step - loss: 0.4215 - accuracy: 0.7987
Epoch 10/100
804/804 [==============================] - 1s 730us/step - loss: 0.4197 - accuracy: 0.7999
Epoch 11/100
804/804 [==============================] - 1s 733us/step - loss: 0.4198 - accuracy: 0.7996
Epoch 12/100
804/804 [==============================] - 1s 733us/step - loss: 0.4189 - accuracy: 0.8003
Epoch 13/100
804/804 [==============================] - 1s 727us/step - loss: 0.4182 - accuracy: 0.8015
Epoch 14/100
804/804 [==============================] - 1s 734us/step - loss: 0.4182 - accuracy: 0.8009
Epoch 15/100
804/804 [==============================] - 1s 730us/step - loss: 0.4181 - accuracy: 0.8015
Epoch 16/100
804/804 [==============================] - 1s 731us/step - loss: 0.4174 - accuracy: 0.8019
Epoch 17/100
804/804 [==============================] - 1s 730us/step - loss: 0.4172 - accuracy: 0.8011
Epoch 18/100
804/804 [==============================] - 1s 741us/step - loss: 0.4168 - accuracy: 0.8017
Epoch 19/100
804/804 [==============================] - 1s 768us/step - loss: 0.4162 - accuracy: 0.8027
Epoch 20/100
804/804 [==============================] - 1s 778us/step - loss: 0.4162 - accuracy: 0.8011
Epoch 21/100
804/804 [==============================] - 1s 744us/step - loss: 0.4158 - accuracy: 0.8024
Epoch 22/100
804/804 [==============================] - 1s 739us/step - loss: 0.4152 - accuracy: 0.8028
Epoch 23/100
804/804 [==============================] - 1s 774us/step - loss: 0.4148 - accuracy: 0.8031
Epoch 24/100
804/804 [==============================] - 1s 806us/step - loss: 0.4152 - accuracy: 0.8025
Epoch 25/100
804/804 [==============================] - 1s 756us/step - loss: 0.4142 - accuracy: 0.8034
Epoch 26/100
804/804 [==============================] - 1s 743us/step - loss: 0.4143 - accuracy: 0.8026
Epoch 27/100
804/804 [==============================] - 1s 737us/step - loss: 0.4143 - accuracy: 0.8025
Epoch 28/100
804/804 [==============================] - 1s 769us/step - loss: 0.4134 - accuracy: 0.8040
Epoch 29/100
804/804 [==============================] - 1s 763us/step - loss: 0.4136 - accuracy: 0.8034
Epoch 30/100
804/804 [==============================] - 1s 876us/step - loss: 0.4130 - accuracy: 0.8035
Epoch 31/100
804/804 [==============================] - 1s 800us/step - loss: 0.4130 - accuracy: 0.8019
Epoch 32/100
804/804 [==============================] - 1s 850us/step - loss: 0.4130 - accuracy: 0.8032
Epoch 33/100
804/804 [==============================] - 1s 861us/step - loss: 0.4123 - accuracy: 0.8035
Epoch 34/100
804/804 [==============================] - 1s 895us/step - loss: 0.4120 - accuracy: 0.8039
Epoch 35/100
804/804 [==============================] - 1s 904us/step - loss: 0.4118 - accuracy: 0.8044
Epoch 36/100
804/804 [==============================] - 1s 848us/step - loss: 0.4120 - accuracy: 0.8037
Epoch 37/100
804/804 [==============================] - 1s 840us/step - loss: 0.4120 - accuracy: 0.8032
Epoch 38/100
804/804 [==============================] - 1s 869us/step - loss: 0.4111 - accuracy: 0.8038
Epoch 39/100
804/804 [==============================] - 1s 853us/step - loss: 0.4111 - accuracy: 0.8037
Epoch 40/100
804/804 [==============================] - 1s 838us/step - loss: 0.4111 - accuracy: 0.8042
Epoch 41/100
804/804 [==============================] - 1s 792us/step - loss: 0.4112 - accuracy: 0.8037
Epoch 42/100
804/804 [==============================] - 1s 804us/step - loss: 0.4106 - accuracy: 0.8036
Epoch 43/100
804/804 [==============================] - 1s 810us/step - loss: 0.4103 - accuracy: 0.8033
Epoch 44/100
804/804 [==============================] - 1s 785us/step - loss: 0.4098 - accuracy: 0.8041
Epoch 45/100
804/804 [==============================] - 1s 798us/step - loss: 0.4101 - accuracy: 0.8056
Epoch 46/100
804/804 [==============================] - 1s 800us/step - loss: 0.4099 - accuracy: 0.8032
Epoch 47/100
804/804 [==============================] - 1s 784us/step - loss: 0.4100 - accuracy: 0.8045
Epoch 48/100
804/804 [==============================] - 1s 790us/step - loss: 0.4096 - accuracy: 0.8042
Epoch 49/100
804/804 [==============================] - 1s 786us/step - loss: 0.4099 - accuracy: 0.8035
Epoch 50/100
804/804 [==============================] - 1s 794us/step - loss: 0.4102 - accuracy: 0.8047
Epoch 51/100
804/804 [==============================] - 1s 783us/step - loss: 0.4096 - accuracy: 0.8040
Epoch 52/100
804/804 [==============================] - 1s 775us/step - loss: 0.4100 - accuracy: 0.8035
Epoch 53/100
804/804 [==============================] - 1s 785us/step - loss: 0.4092 - accuracy: 0.8053
Epoch 54/100
804/804 [==============================] - 1s 799us/step - loss: 0.4089 - accuracy: 0.8055
Epoch 55/100
804/804 [==============================] - 1s 811us/step - loss: 0.4094 - accuracy: 0.8044
Epoch 56/100
804/804 [==============================] - 1s 828us/step - loss: 0.4089 - accuracy: 0.8038
Epoch 57/100
804/804 [==============================] - 1s 804us/step - loss: 0.4086 - accuracy: 0.8053
Epoch 58/100
804/804 [==============================] - 1s 799us/step - loss: 0.4086 - accuracy: 0.8054
Epoch 59/100
804/804 [==============================] - 1s 792us/step - loss: 0.4089 - accuracy: 0.8052
Epoch 60/100
804/804 [==============================] - 1s 791us/step - loss: 0.4087 - accuracy: 0.8049
Epoch 61/100
804/804 [==============================] - 1s 797us/step - loss: 0.4082 - accuracy: 0.8052
Epoch 62/100
804/804 [==============================] - 1s 805us/step - loss: 0.4084 - accuracy: 0.8057
Epoch 63/100
804/804 [==============================] - 1s 789us/step - loss: 0.4085 - accuracy: 0.8040
Epoch 64/100
804/804 [==============================] - 1s 787us/step - loss: 0.4077 - accuracy: 0.8058
Epoch 65/100
804/804 [==============================] - 1s 790us/step - loss: 0.4083 - accuracy: 0.8049
Epoch 66/100
804/804 [==============================] - 1s 768us/step - loss: 0.4081 - accuracy: 0.8057
Epoch 67/100
804/804 [==============================] - 1s 776us/step - loss: 0.4076 - accuracy: 0.8062
Epoch 68/100
804/804 [==============================] - 1s 766us/step - loss: 0.4078 - accuracy: 0.8066
Epoch 69/100
804/804 [==============================] - 1s 776us/step - loss: 0.4079 - accuracy: 0.8066
Epoch 70/100
804/804 [==============================] - 1s 787us/step - loss: 0.4072 - accuracy: 0.8049
Epoch 71/100
804/804 [==============================] - 1s 872us/step - loss: 0.4079 - accuracy: 0.8059
Epoch 72/100
804/804 [==============================] - 1s 836us/step - loss: 0.4072 - accuracy: 0.8060
Epoch 73/100
804/804 [==============================] - 1s 837us/step - loss: 0.4076 - accuracy: 0.8060
Epoch 74/100
804/804 [==============================] - 1s 861us/step - loss: 0.4073 - accuracy: 0.8061
Epoch 75/100
804/804 [==============================] - 1s 848us/step - loss: 0.4076 - accuracy: 0.8061
Epoch 76/100
804/804 [==============================] - 1s 823us/step - loss: 0.4078 - accuracy: 0.8054
Epoch 77/100
804/804 [==============================] - 1s 822us/step - loss: 0.4078 - accuracy: 0.8059
Epoch 78/100
804/804 [==============================] - 1s 805us/step - loss: 0.4078 - accuracy: 0.8066
Epoch 79/100

804/804 [==============================] - 1s 792us/step - loss: 0.4071 - accuracy: 0.8060
Epoch 80/100
804/804 [==============================] - 1s 791us/step - loss: 0.4065 - accuracy: 0.8066
Epoch 81/100
804/804 [==============================] - 1s 792us/step - loss: 0.4068 - accuracy: 0.8066
Epoch 82/100
804/804 [==============================] - 1s 781us/step - loss: 0.4068 - accuracy: 0.8069
Epoch 83/100
804/804 [==============================] - 1s 785us/step - loss: 0.4068 - accuracy: 0.8061
Epoch 84/100
804/804 [==============================] - 1s 787us/step - loss: 0.4066 - accuracy: 0.8064
Epoch 85/100
804/804 [==============================] - 1s 784us/step - loss: 0.4069 - accuracy: 0.8068
Epoch 86/100
804/804 [==============================] - 1s 796us/step - loss: 0.4063 - accuracy: 0.8065
Epoch 87/100
804/804 [==============================] - 1s 784us/step - loss: 0.4063 - accuracy: 0.8069
Epoch 88/100
804/804 [==============================] - 1s 789us/step - loss: 0.4066 - accuracy: 0.8064
Epoch 89/100
804/804 [==============================] - 1s 783us/step - loss: 0.4067 - accuracy: 0.8057
Epoch 90/100
804/804 [==============================] - 1s 782us/step - loss: 0.4064 - accuracy: 0.8066
Epoch 91/100
804/804 [==============================] - 1s 783us/step - loss: 0.4070 - accuracy: 0.8065
Epoch 92/100
804/804 [==============================] - 1s 781us/step - loss: 0.4061 - accuracy: 0.8060
Epoch 93/100
804/804 [==============================] - 1s 782us/step - loss: 0.4064 - accuracy: 0.8062
Epoch 94/100
804/804 [==============================] - 1s 778us/step - loss: 0.4059 - accuracy: 0.8068
Epoch 95/100
804/804 [==============================] - 1s 765us/step - loss: 0.4058 - accuracy: 0.8064
Epoch 96/100
804/804 [==============================] - 1s 772us/step - loss: 0.4063 - accuracy: 0.8063
Epoch 97/100
804/804 [==============================] - 1s 793us/step - loss: 0.4059 - accuracy: 0.8066
Epoch 98/100
804/804 [==============================] - 1s 774us/step - loss: 0.4061 - accuracy: 0.8064
Epoch 99/100
804/804 [==============================] - 1s 831us/step - loss: 0.4059 - accuracy: 0.8069
Epoch 100/100
804/804 [==============================] - 1s 779us/step - loss: 0.4064 - accuracy: 0.8063

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4437 - accuracy: 0.7875 - 300ms/epoch - 1ms/step
Loss: 0.44372308254241943, Accuracy: 0.7875218391418457

In [22]:
# Export our model to HDF5 file
nn.save('Models/AlphabetSoupCharity_Optimisation4.h5')

C:\Users\Christopher B\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

### Results:

Accuracy is recorded at 78.75%. That actually works....